In [1]:
#importing the necessary packages
import pandas as pd
import numpy as np

# Loading the dataset

In [2]:
te=pd.read_csv("testing_data.csv")

In [3]:
te

                        http://www.skofija-novomesto.si/
0      http://ferlafashion.com/saint/www.loginalibaba...
1                               http://spatrendonline.hu
2                               http://defensasur.com.ar
3                     http://www.digitalvd.de/dvds/37399
4      http://tradewfx.com/service/admin/1drive/onedr...
...                                                  ...
25213                               http://mohaseban.org
25214                          https://www.la-croix.com/
25215                              http://bit.ly/2CbFTLv
25216  http://beautyatjessicas.com.au/wp-content/uplo...
25217  http://www.la-taverne-des-aventuriers.com/t457...

[25218 rows x 1 columns]

In [4]:
df=pd.read_csv("datathon.csv")

In [5]:
df

       https://www.peoplescollection.wales/discover/what/70/query/Merthyr  0
0       http://yasli-sad.ru/css/chase/chaseall%20newin...                  1
1       http://denizkent.net/wp-admin/js/login.alibaba...                  1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...                  1
3       http://guardiaoitau30horas.uniclassdispositivo...                  1
4       http://chancejumpers.com/christmas/christmas-h...                  0
...                                                   ...                 ..
100854               http://crop-topsnn.oucreate.com/grn/                  1
100855  http://jacksonvillenursinghomelawyers.com/Driv...                  1
100856  http://www.smallappliance.com/product.asp?cur=...                  0
100857                   http://www.skofija-novomesto.si/                  0
100858  http://ferlafashion.com/saint/www.loginalibaba...                  1

[100859 rows x 2 columns]

In [6]:
te.columns=['url']

In [7]:
df.isnull().sum()

https://www.peoplescollection.wales/discover/what/70/query/Merthyr    0
0                                                                     0
dtype: int64

In [8]:
te.isnull().sum()

url    0
dtype: int64

In [9]:
df.shape[0]

100859

In [10]:
te.shape[0]

25218

In [11]:
df.columns=['url','class']
df

                                                      url  class
0       http://yasli-sad.ru/css/chase/chaseall%20newin...      1
1       http://denizkent.net/wp-admin/js/login.alibaba...      1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...      1
3       http://guardiaoitau30horas.uniclassdispositivo...      1
4       http://chancejumpers.com/christmas/christmas-h...      0
...                                                   ...    ...
100854               http://crop-topsnn.oucreate.com/grn/      1
100855  http://jacksonvillenursinghomelawyers.com/Driv...      1
100856  http://www.smallappliance.com/product.asp?cur=...      0
100857                   http://www.skofija-novomesto.si/      0
100858  http://ferlafashion.com/saint/www.loginalibaba...      1

[100859 rows x 2 columns]

# finding duplicates

In [12]:
df['url'].duplicated().sum()
#duplicate dropping in important because urls or unique from each other

153

# droping duplicated urls from dataset

In [13]:
m=df.drop_duplicates('url')

In [14]:
m['url'].duplicated().sum()

0

In [15]:
m.shape[0]

100706

# tokenizer

In [16]:
b=m

In [17]:
t=te

In [18]:
from sklearn.model_selection import train_test_split # spliting the data between feature and target
from sklearn.metrics import classification_report # gives whole report about metrics (e.g, recall,precision,f1_score,c_m)
from sklearn.metrics import confusion_matrix # gives info about actual and predict
from nltk.tokenize import RegexpTokenizer # regexp tokenizers use to split words from text

In [19]:
import nltk
import re

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
b.iloc[:,0] = b.iloc[:,0].astype('str')

C:\Users\V BHAVANI PRASAD\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [22]:
t.iloc[:,0] = t.iloc[:,0].astype('str')

In [23]:
b.iloc[:,0] = b.iloc[:,0].apply(lambda url : url.replace("/"," "))

In [24]:
t.iloc[:,0] = t.iloc[:,0].apply(lambda url : url.replace("/"," "))

In [25]:
b.iloc[:,0] = b.iloc[:,0].apply(lambda url : url.replace("."," "))

In [26]:
t.iloc[:,0] = t.iloc[:,0].apply(lambda url : url.replace("."," "))

In [27]:
b.iloc[:,0]

0         http:  yasli-sad ru css chase chaseall%20newin...
1         http:  denizkent net wp-admin js login alibaba...
2         http:  www marketbiz net mbz wp-includes js jq...
3         http:  guardiaoitau30horas uniclassdispositivo...
4         http:  chancejumpers com christmas christmas-h...
                                ...
100854                 http:  crop-topsnn oucreate com grn
100855    http:  jacksonvillenursinghomelawyers com Driv...
100856    http:  www smallappliance com product asp?cur=...
100857                     http:  www skofija-novomesto si
100858    http:  ferlafashion com saint www loginalibaba...
Name: url, Length: 100706, dtype: object

In [28]:
t.iloc[:,0]

0        http:  ferlafashion com saint www loginalibaba...
1                                 http:  spatrendonline hu
2                                 http:  defensasur com ar
3                       http:  www digitalvd de dvds 37399
4        http:  tradewfx com service admin 1drive onedr...
                               ...
25213                                 http:  mohaseban org
25214                            https:  www la-croix com
25215                                http:  bit ly 2CbFTLv
25216    http:  beautyatjessicas com au wp-content uplo...
25217    http:  www la-taverne-des-aventuriers com t457...
Name: url, Length: 25218, dtype: object

In [29]:
b.iloc[:,0] = b.iloc[:,0].apply(lambda url : url.replace("."," "))

In [30]:
t.iloc[:,0] = t.iloc[:,0].apply(lambda url : url.replace("."," "))

In [31]:
b.iloc[:,0] = b.iloc[:,0].apply(lambda url : url.replace(":"," "))

In [32]:
t.iloc[:,0] = t.iloc[:,0].apply(lambda url : url.replace(":"," "))

In [33]:
b['url']=b.iloc[:,0]

C:\Users\VBHAVA~1\AppData\Local\Temp/ipykernel_18836/1205193613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['url']=b.iloc[:,0]

In [34]:
t['url']=t.iloc[:,0]

In [35]:
b

                                                      url  class
0       http   yasli-sad ru css chase chaseall%20newin...      1
1       http   denizkent net wp-admin js login alibaba...      1
2       http   www marketbiz net mbz wp-includes js jq...      1
3       http   guardiaoitau30horas uniclassdispositivo...      1
4       http   chancejumpers com christmas christmas-h...      0
...                                                   ...    ...
100854               http   crop-topsnn oucreate com grn       1
100855  http   jacksonvillenursinghomelawyers com Driv...      1
100856  http   www smallappliance com product asp?cur=...      0
100857                   http   www skofija-novomesto si       0
100858  http   ferlafashion com saint www loginalibaba...      1

[100706 rows x 2 columns]

In [36]:
t

                                                     url
0      http   ferlafashion com saint www loginalibaba...
1                               http   spatrendonline hu
2                               http   defensasur com ar
3                     http   www digitalvd de dvds 37399
4      http   tradewfx com service admin 1drive onedr...
...                                                  ...
25213                               http   mohaseban org
25214                          https   www la-croix com
25215                              http   bit ly 2CbFTLv
25216  http   beautyatjessicas com au wp-content uplo...
25217  http   www la-taverne-des-aventuriers com t457...

[25218 rows x 1 columns]

# CountVectorizer

In [37]:
# Machine Learning Packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [38]:
#label
h=b['class']
url_list=b['url']

In [39]:
xt=t['url']

In [40]:

vectorizer = TfidfVectorizer()

In [41]:
vectorizer

TfidfVectorizer()

In [82]:
X = vectorizer.fit_transform(url_list)

In [43]:
Y= vectorizer.transform(xt)

In [44]:
xt

0        http   ferlafashion com saint www loginalibaba...
1                                 http   spatrendonline hu
2                                 http   defensasur com ar
3                       http   www digitalvd de dvds 37399
4        http   tradewfx com service admin 1drive onedr...
                               ...
25213                                 http   mohaseban org
25214                            https   www la-croix com
25215                                http   bit ly 2CbFTLv
25216    http   beautyatjessicas com au wp-content uplo...
25217    http   www la-taverne-des-aventuriers com t457...
Name: url, Length: 25218, dtype: object

In [45]:
url_list

0         http   yasli-sad ru css chase chaseall%20newin...
1         http   denizkent net wp-admin js login alibaba...
2         http   www marketbiz net mbz wp-includes js jq...
3         http   guardiaoitau30horas uniclassdispositivo...
4         http   chancejumpers com christmas christmas-h...
                                ...
100854                 http   crop-topsnn oucreate com grn
100855    http   jacksonvillenursinghomelawyers com Driv...
100856    http   www smallappliance com product asp?cur=...
100857                     http   www skofija-novomesto si
100858    http   ferlafashion com saint www loginalibaba...
Name: url, Length: 100706, dtype: object

In [46]:
print(Y)

  (0, 167831)	0.3168109209447769
  (0, 166991)	0.1250474150642315
  (0, 136569)	0.26953005719369794
  (0, 123436)	0.09384733020866658
  (0, 100925)	0.5074232964249369
  (0, 100899)	0.13282703262069717
  (0, 84467)	0.04281605114541025
  (0, 71102)	0.32086284238265156
  (0, 65830)	0.15713774127821648
  (0, 52326)	0.23587236049164192
  (0, 30715)	0.5620682163535009
  (0, 27567)	0.16243118856269287
  (1, 84492)	0.977839431236321
  (1, 84467)	0.20935626744721106
  (2, 84467)	0.1958365497486285
  (2, 52326)	0.21577155306952941
  (2, 33824)	0.956603722901242
  (3, 166991)	0.12003702310268191
  (3, 84467)	0.08220100060232789
  (3, 63064)	0.665374093550872
  (3, 59916)	0.6889952751707216
  (3, 57749)	0.2477840491403746
  (4, 139825)	0.528392020233445
  (4, 123436)	0.24675036167065403
  (4, 117660)	0.5949761108295617
  :	:
  (25213, 84467)	0.3341583127762618
  (25214, 166991)	0.15116105471825714
  (25214, 97186)	0.4887422651277825
  (25214, 84475)	0.15232300184652564
  (25214, 55026)	0.8378969018360046
  (25214, 52326)	0.11405182513364949
  (25215, 102163)	0.6864818907392852
  (25215, 84467)	0.14655845415995158
  (25215, 41487)	0.7122241453371695
  (25216, 166606)	0.22019745062816115
  (25216, 158794)	0.36356793947651644
  (25216, 141682)	0.3238726267172245
  (25216, 84467)	0.07198596437257081
  (25216, 53559)	0.2640941581575196
  (25216, 52326)	0.0793137100904536
  (25216, 39479)	0.6033745206004778
  (25216, 35830)	0.2741269487771065
  (25216, 7237)	0.3177572378548701
  (25216, 1335)	0.30503037778587594
  (25217, 166991)	0.1496257571480845
  (25217, 98961)	0.6006510710147074
  (25217, 97186)	0.4837782562864184
  (25217, 84467)	0.10246327870803938
  (25217, 58784)	0.5996210230677841
  (25217, 52326)	0.1128934348966416

In [48]:
vectorizer = CountVectorizer()

In [49]:
vectorizer

CountVectorizer()

In [50]:
x = vectorizer.fit_transform(url_list)

In [51]:
y=vectorizer.transform(xt)

In [ ]:
print(x.shape)

In [53]:
print(y.shape)

(25218, 170805)

In [54]:
print(x.shape)
print(y.shape)

(100706, 170805)
(25218, 170805)

# using logistic regression

In [55]:
#Model Building
#using logistic regression
logit = LogisticRegression()
logit.fit(x,h)

C:\Users\V BHAVANI PRASAD\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [56]:
z=logit.predict(y)

In [57]:
df1=pd.DataFrame(z)
df1

       0
0      1
1      0
2      0
3      0
4      1
...   ..
25213  0
25214  0
25215  1
25216  1
25217  0

[25218 rows x 1 columns]

In [58]:
df1.to_csv('prasad',index=False)

In [59]:
df1.shape

(25218, 1)

# DecisionTreeClassifier

In [60]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
dtree = DecisionTreeClassifier()

In [62]:
dtree

DecisionTreeClassifier()

In [63]:
dtree = dtree.fit(x,h)

In [64]:
q=dtree.predict(y)

In [ ]:
df2=pd.DataFrame(q)
df2

In [91]:
df2.to_csv('prasad1',index=False)

# MultinomialNB

In [92]:
from sklearn.naive_bayes import MultinomialNB

In [93]:
clf = MultinomialNB()

In [94]:
clf.fit(x,h)

MultinomialNB()

In [95]:
q2=clf.predict(y)

In [96]:
df3=pd.DataFrame(q2)
df3

       0
0      1
1      0
2      0
3      0
4      1
...   ..
25213  0
25214  0
25215  1
25216  1
25217  0

[25218 rows x 1 columns]

In [99]:
df3.to_csv('prasad3',index=False)